/*-----------Stylesheet for Project 2-------------*/
/*---main layout---*/
h1 {
	color: #F25D27;
	text-decoration: underline;
	text-align: center;
}

h2 {
	color: #D9A689;
	font-family: "courier", monospace;
}

h3 {
	color: #BAAF92;
	font-family: "Lucida Console", monospace;
}

body {
	background-color: #734A27;
}

p{
	color: #ffffff;
	font-family: "Times New Roman", Times, serif;
}

/*--list styles--*/

ul {
list-style-type: square;
}


/*--link styles--*/

a:active {
	color: F25E57;
}

a:hover {
	color: #F25F92;
	text-decoration: underline;
}

a:link {
	color: #7DB3F2;
	text-decoration: none;
}

a:visited {
	color: #F27D52;
}


