/*-----------Stylesheet for Project 2-------------*/
/*---main layout---*/

h1 {
	color: #F25D27;
	background-color: #402E1F;
	font-weight: 900;
	height: 30px;
	padding: 10px;
	text-align: center;
	text-decoration: underline;
	border: 2px solid #000000;
	box-shadow: 6px 6px #000000;
	
}

h2 {
	color: #D9A689;
	background-color: #402E1F;
	height: 30px;
	padding: 10px;
	font-family: courier, monospace;
	text-transform: uppercase;
	border: 1px solid #000000;
	box-shadow: 4px 4px #000000;
}

h3 {
	color: #BAAF92;
	height: 30px;
	padding: 10px;
	font-family: Lucida Console, monospace;
	text-shadow: 2px 2px #000000;
}

body {
	background-color: #734A27;
}

p {
	color: #ffffff;
	font-family: Times New Roman, Times, serif;
	font-size: 14px
	width: 600px;
	height: 25px;
	padding: 10px;
	
}

/*--list styles--*/

ul {
	list-style-type: square;
	color: #9C937A;
	border-radius: images/appetizers_th.jpg 2px 2px round;
}

/* wanting to make the menu pictures rounded, maybe more page width -
	menu links inline elements not block - keep rest of lists block. */


/*--link styles--*/

a:active {
	color: #F25E57;
}

a:hover {
	color: #F25F92;
	text-decoration: underline;
}

a:link {
	color: #7DB3F2;
	text-decoration: none;
}

a:visited {
	color: #F27D52;
}





