h1 {
	color: #F25D27;
	text-decoration: underline;
	font-style: verdana;
	font-size: 55px;
}

h2 {
	color: #D9A689;
}

h3 {
	color: #BAAF92;
}

body {
	background-color: #734A27;
}

p{
	color: #ffffff;
}

