/*--week2 training style sheet color.html--*/
#four {
	background-color: #36ff6a;
}

#three{
	background-color: #1be800;
}

#two{
	background-color: #3061eb;
}

#one{
	background-color: #a23447;
}

#zero{
	background-color: #d7002c;
}





/*
a+ - #36ff6a / 54,255,106
b+ - #1be800 / 27,232,0
c+ - #3061eb / 48,97,235
d - #a23447 / 162,52,71
f - #d7002c / 215,0,44
*/