
#four {
	background-color: rgb(54,255,106);
}

#three{
	background-color: rgb(27,232,0);
}

#two{
	background-color: rgb(48,97,235);
}

#one{
	background-color: rgb(162,52,71);
}

#zero{
	background-color: rgb(215,0,44);
}





/*
a+ - #36ff6a / 54,255,106
b+ - #1be800 / 27,232,0
c+ - #3061eb / 48,97,235
d - #a23447 / 162,52,71
f - #d7002c / 215,0,44
*/