HTML5 layout
Add the following HTML5 layout elements:
<section> or <article>
<aside>




Forms <!-- use aside code for this. Enter comments - background info
Add a form using the following form controls:
Text inputs <!--done-->
Labels <!--done-->
Textarea <!--done-->
Radio buttons or Checkboxes -- need to fix labels!
Drop down list <!--done-->
Submit button, Image button, or Button <!--done-->


Add the following HTML5 form controls:
Required
Placeholder
Email, URL, or Search input <!--have all 3 at top, need to fix spacing-->


Incorporate web accessibility techniques by adding the following element for each form control:
label <!--partially done...-->


Style your form using the following CSS properties: <!--none are working-->
padding
margin
font-size
color
border <!--done-->
text-align <!--done-->
background-color or background-image
:hover
:focus <!--some are working-->


Float each form title next to its corresponding form control. The following properties should be utilized:
width
float


Use the following pseudo classes to style form controls:
:hover <!-- same effects as now -->
:focus <!--partially done..-->


Comments
Add comments to both your HTML and CSS to help with organization. For example, HTML 
	comments where divs close ("end content") and CSS comments to split the stylesheet into 
	different sections ("main styles", "navigation", "layout", etc.).
	
	
Validation
Make sure both your HTML and CSS are valid using the W3C Validation Services.


Fix Errors from project 3:

<form action="http://www.example.com/review.php" method="get">
^^ link to example web page. -- add to contact us link in first paragraph

I need to go back through to all the links and correct their styles -

