/* project2 what i still need to do 



Styling text:
font-style


Add a web based font using:
<link /> or @font-face -- not working properly

Style your links using the following CSS pseudo-classes:
a:link -- works
a:visited -- works
a:hover -- not working properly -- no underline or fg color
a:active -- works


Box model:
margin -- dont quite understand 

Center your page using:
width
auto margins -- dont quite understand

Add rounded corners using:
border-radius -- not working properly


Change the display of elements from their default using:
display

*/