/* project2 what i still need to do 



Center your page using:
width
auto margins -- dont quite understand

Add rounded corners using:
border-radius -- not working properly


Change the display of elements from their default using:
display

*/