

Convert to Liquid Layout
After creating the multicolumn layout, convert the fixed width layout to a liquid layout. 
	The following properties should be converted from pixels values to percentages:
width
margin -- not working properly? suppose to move when you resize the window - my tet still over
	flows into other text formats. ex: main title

Convert any font-size properties from pixel values to ems. If you need help converting, use 
	the pixel-to-em converter in the Resources. -- havent dont yet. 
	
	
Backgrounds
Add a repeating background image using these CSS properties (use the Resources to download a repeating pattern image):
background-image
background-repeat
background-position
*use utensils - need to change the contrast like screen or readable in video example used in h2
	can't read the titles. 


Add a non-repeating background image using these CSS properties (use the Resources to download an icon image):
background-image
background-repeat
background-position
*need to fix the position of the icon - more towards the title.. opacity change?


Add a CSS gradient using this CSS property (use the CSS gradient generator in the Resources):
background -- didnt use the generator, used another resource given ? not sure if working properly?


Comments
Add comments to both your HTML and CSS to help with organization. For example, HTML comments where divs close ("end content") and CSS comments to split the stylesheet into different sections ("main styles", "navigation", "layout", etc.).


Validation
Make sure both your HTML and CSS are valid using the W3C Validation Services.


** I want to make menu bar on left side - navigational to other site links.
** add utensils as background repeating image
** hours and location float  in middle - special offers at bottom (menu to side)



**fix errors from project 2 :
 * <blockquote>, <q>, or <abbr> elements -- used <abbr> but have someone see why its not working?
 * working live site link
 * opacitity for styling text
 * add width for centering page using pixels instead of auto
 
 **get menu pictures to be inline!